* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 191, 191);
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-image: url("https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?cs=srgb&dl=pexels-johannes-plenio-2080960.jpg&fm=jpg");
    height: 50vh;
    background-size: cover;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2.5rem;
    color: red;

    padding: 2rem 0;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}


.wrapper {
    margin: 10rem 20rem;
    background-color: white;
    box-shadow: -2px 5px 15px 10px rgb(90, 83, 83);
}

p {
    padding: 1rem 1rem;
}

.slide-in {
    padding-left: 7rem;
}

.nav-logo {
    max-width: 0;
    text-align: center;
    overflow: hidden;
    
    background-color: white;
}

.stick .nav-logo {
    max-width: 100px;
    transition: all .8s ease-in-out;
}



.stick .menu {
    position: fixed;
}

.stick .wrapper {
    transform: scale(1.1);
    z-index: -1;
}



